<div class="bg-[#141414] h-full flex flex-col lg:px-20">
  <div class="text-bold text-3xl my-4 ml-4  text-white"> Coins market</div>

  <div class="px-4">
    <input type="text" class="w-full p-2 rounded bg-gray-400 text-white placeholder:text-white" placeholder="Search"
      (keyup)="searchCoins()" [(ngModel)]='searchText' />
  </div>
  <div class="p-4 overflow-x-scroll w-[100%]">
    <table class=" text-left w-full">
      <thead class="bg-gray-700 text-white">
        <tr>
          <th scope="col" class="px-4 py-3" *ngFor="let title of titles">{{title}}</th>

        </tr>
      </thead>
      <tbody class="bg-gray-800">
        <tr class="text-white" *ngFor="let coin of filteredCoins; let i = index">
          <td class="px-4 p-2">{{i}}</td>
          <td class="flex flex-row gap-4 pr-8 pl-2 p-2  items-center">
            <img [src]="coin.image" alt="" width="25" height="25">
            <span>{{coin.name}}</span>
            <span class="font-bold text-gray-400">{{coin.symbol.toLocaleUpperCase()}}</span>
          </td>
          <td class="px-4 p-2">${{coin.current_price.toLocaleString()}}</td>
          <td class="px-4 p-2" [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-green-400' : 'text-red-400' ">
            {{coin.price_change_percentage_24h.toLocaleString()}}</td>
          <td class="px-4 p-2 ">${{coin.total_volume.toLocaleString()}}</td>



        </tr>
      </tbody>
    </table>
  </div>
</div>